
{% extends "layout.html" %}
{% set active_page = "account" %}
{% block body %}
	{% if session.logged_in %}
		<h4> Hello {{ session.username }}
	{% endif %}
	<ul class=entries>
	{% for entry in entries %}
		<li><h2>User ID</h2>{{ entry.username }}
		<li><h2>Points Accumulated</h2>{{ entry.points }}
		<li><h2>Time used</h2>{{ entry.time }}
		<li><h2>Distance Travelled</h2>{{ entry.km }}
	{% endfor %}

{% endblock %}