{% extends "layout.html" %}
{% set active_page = "home" %}
{% block body %}
		<h4> This is a Home page. Still has nothing except for the map of available stations. </h4>

		<h1>Flask Google Maps Example</h1>


        <h2> Second map generated in view</h2>
        <h3> Example for different icons in multiple markers with infoboxes</h3>
        {{sndmap.html}}

            {{sndmap.js}}
{% endblock %}