<!doctype html>
<title>Flaskr</title>
<link rel=stylesheet type=text/css href="{{url_for('static', filename='content/bootstrap.css') }}">

{% set navigation_bar = [
    ('home', 'Home'),
    ('signup', 'Sign Up'),
    ('users', 'Users'),

] -%}
{% set active_page = active_page|default('home') -%}
<body>
    <div class=page>
        <div class="container">
            <h1>Bike Web</h1>
        </div>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class=container-fluid>
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Brand</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% for id, caption in navigation_bar %}
                            <li {% if id == active_page %} class="active" {% endif %}><a href="{{ url_for(id|e) }}">{{ caption|e }}</a></li>
                            {% endfor %}

                            {% if not session.logged_in %}
                            <li {% if "login" == active_page %} class="active" {% endif %}><a href="{{ url_for('login') }}"> Log In</a></li>
                            {% else %}
                            <li {% if "logout" == active_page %} class="active" {% endif %}><a href="{{ url_for('logout') }}"> Log Out</a></li>
                            <li {% if "account" == active_page %} class="active" {% endif %}><a href="{{ url_for('account') }}"> Account</a></li>
                            <li style='float:right;'><a>Hello, {{ session.username }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </div>
</body>