{% extends "layout.html" %}
{% set active_page = "signup" %}
{% block body %}
	<h2>Login</h2>
	{% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
	<form action="{{ url_for('signup') }}" method=post>
		<dl>
			<dt>Create Username:
			<dd><input type=text name=username>
			<dt>Create Password:
			<dd><input type=password name=password1>
			<dt>Re-enter Password:
			<dd><input type=password name=password2>
			<dd><input type=submit value=Login>
		</dl>
	</form>
{% endblock %}