{% extends "layout.html" %}
{% set active_page = "station" %}
{% block body %}
		<h1> Station at University of Waterloo </h1>


        <h2> Second map generated in view</h2>
        <h3> Example for different icons in multiple markers with infoboxes</h3>
        <div style='float: left;'>
        {{stationmap.html}}
        </div>
        <div style='float: right; width: 350px;'>
	        <p><strong>Station Name: </strong> University of Waterloo<br>
	        <strong>Address: </strong> 200 University Ave W.<br>
	        <strong>Available bikes: </strong>8<br>
	        <strong>Empty slots: </strong>6<br>
	        <strong>Bikes on discahrge: </strong>4</p>
	        <br />
	        <br />
	        {% if session.logged_in %}
		        {% if not session.renting %}
	                <a class='btn btn-primary' href="{{ url_for('pickup') }}">Unlock Bike</a>
	            {% else %}
	                <a class='btn btn-primary' href="{{ url_for('dropoff') }}">Return Bike</a>
	            {% endif %}
	        {% endif %}
        </div>


            {{stationmap.js}}
{% endblock %}