{% extends "layout.html" %}
{% set active_page = "users" %}
{% block body %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.userid }}</h2> {{ entry.password }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}